/* Footer part start */
.appInfo{
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
.aboutApp{
    color: #1DBF73!important;
   
}
.appInfo{
    width: 33px!important;
    height: 32px!important;
    border-radius: 50%!important;
}



 /* Footer part end */